@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
width: 100%;
height: 100vh;
}

.box {
    background-image: linear-gradient(to right top, #0b0a07, #0f130b, #0c1a14, #052021, #012530);
}

.gauche {
    background-color: #edf2f3;
    border-radius: 0 45px 45px 0;
}

.droite {
    color: white;
}

p{
    margin: 0 !important;
    padding: 0 !important;
}

.telephone{
    gap: 20px;
}
.email {
    gap: 19px;
}
 .adresse {
    gap: 21px;
 }

 .h2Gauche {
    border-bottom: 2px solid black;

 }

 .nom {
    font-size: 4em;
    font-family: 'Bebas Neue', sans-serif;

 }

 .metier {
    background-image: linear-gradient(to left, #2e1e0f00,#2e1e0f77, #2E1E0F);;

 }
 
 .entete {
    margin-bottom: 70px;

 }
